body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

/* Header */

h2 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    size: 18px;
    font-family: Roboto, 'Times New Roman', Helvetica;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
    flex: 0 0 auto;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
    /* border: 2px solid red; */
}

.logo {
    color: #f9faf8;
    size: 24px;
    flex: 0 0 auto;
    /* border: 2px solid red; */
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 300px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #1f2937;
    flex: 0 0 auto;
    gap: 600px;
    /* border: 2px solid red; */
}

/* Main */

.main {
    display: flex;
    width: 100%;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    flex: 1 0 300px;
    border: 2px solid red;
}

.main-content {
    width: 450px;
    border: 2px solid red;
    /* margin: 100px 450px; */
    /* margin-top; margin-right; margin-bottom; margin-left */
}

.main-content h1 {
    size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.main-content p {
    size: 30px;
    color: #f9faf8c0;
}

img {
    flex: 0 0 auto;
    width: 500px;
    /* margin: 100px 450px 100px 0; */
}