body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

/* Header */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
    /* margin: 0 450px; */
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    size: 18px;
    font-family: Roboto, 'Times New Roman', Helvetica;
}

.header h2 {
    color: #f9faf8;
    size: 24px;
    /* margin-left: 450px; */
    flex: 0 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #1f2937;
    flex: 1 0 auto;
    gap: 450px;
}

/* Main */

.main {
    display: flex;
    width: 100%;
    background-color: #1f2937;
    flex-shrink: 0;
}

.main-content {
    margin: 100px 450px;
    /* margin-top; margin-right; margin-bottom; margin-left */
}

.main-content h1 {
    size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.main-content p {
    size: 30px;
}

img {
    width: 500px;
    margin: 100px 450px 100px 0;
}